<h1>My lists</h1>

<br>

<table>
  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><strong><%= link_to list.name, list_path(list)%></strong></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add a new list', new_list_path %>
