<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('banner.png') %>);">
  <div class="container">
    <h1>My movie lists</h1>
  </div>
</div>
<br>

<div class="container" id="show-content">
  <div class="button">
    <%= link_to 'Add a new list', new_list_path, class: "btn btn-gradient" %>
  </div>
  <br>
  <div class="cards d-flex justify-between">
    <div class="row">
      <% @lists.each do |list| %>
      <div class="col-3 col-lg-3 col-md-4 col-sm-6">
        <div class="card-category my-2 text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : asset_path('list_background.png') %>)">
          <strong><%= link_to list.name, list_path(list) %></strong>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<br>

<div class="footer">
    <div class="links">
      <a href="#">
        <i class= "fab fa-fw fa-facebook-f"></i>
      </a>
      <a href="#">
        <i class="fab fa-fw fa-github"></i>
      </a>
      <a href="#">
        <i class="fab fa-fw fa-twitter"></i>
      </a>
      <a href="#">
        <i class="fab fa-fw fa-instagram"></i>
      </a>
      <p>
        This website was coded with
        <i class="fas fa-heart"></i>
        by Franck.
      </p>
    </div>
  </div>
